.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  max-width: 640px;
}

.wrapper[data-align="center"] {
  align-items: center;
  text-align: center;
  max-width: 720px;
  margin-inline: auto;
}

.wrapper[data-align="right"] {
  align-items: flex-end;
  text-align: right;
  max-width: 640px;
  margin-inline-start: auto;
}

.title {
  color: var(--color-secondary);
}

.description {
  font-size: var(--text-body-lg);
  color: var(--color-neutral-500);
}
